#login-page {
    width: 100vw;
    height: 100vh;
}

.input-email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.inputs input{
    margin: 0.6rem 0.6rem;
    background: var(--color-input-background);
    border-radius: 0.8rem;
}